{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="/static/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <!-- Notification and Messages here -->
            </ul>
        </nav><!-- End Icons Navigation -->

    </header>

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="{% url 'user-admin' %}" id="dashboard-link">
                  <i class="bi bi-grid"></i>
                  <span>Dashboard</span>
                </a>
              </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#Navbar" data-bs-target="#Navbar" id="menu-bar-link">
                    <i class="bi bi-menu-button-wide"></i><span>MenuBar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <!-- Use data-bs-parent="#sidebar-nav" to ensure only one collapse is open at a time -->
                <ul id="Navbar" class="nav-content" data-bs-parent="#sidebar-nav">
                    <li><a href="{% url 'menu-view' %}"><i class="bi bi-circle"></i><span>View Menu</span></a></li>
                    <li><a href="{% url 'add-menu-item' %}"><i class="bi bi-circle"></i><span>Add Menu</span></a></li>
                </ul>
            </li><!-- End MenuBar Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#Banner" data-bs-target="#Banner" id="banner-link">
                    <i class="bi bi-menu-button-wide"></i><span>Banner</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Banner" class="nav-content" data-bs-parent="#sidebar-nav">
                    <li><a href="{% url 'slider-view' %}"><i class="bi bi-circle"></i><span>View Banner</span></a></li>
                    <li><a href="{% url 'add-slider' %}"><i class="bi bi-circle"></i><span>Add Banner</span></a></li>
                </ul>
            </li><!-- End Banner Nav -->

        </ul>
    </aside>

    {% block content %}
    {% endblock %}

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>


</body>

</html>
